/*Set up a custom color*/
:root   {
    --current-color : rgb(244, 97, 78);
    --past-color : rgb(165, 163, 163);
    --future-color : rgb(135, 167, 135);
}

/* Class Selector for the textarea element inside of the present class to set up a style*/
.present textarea  {
    background-color: var(--current-color);
}
/* Class Selector for the textarea element inside of the past class to set up a style*/
.past textarea  {
    background-color: var(--past-color);
}
/* Class Selector for the textarea element inside of the future class to set up a style*/
.future textarea    {
    background-color: var(--future-color);
}
/*Class Selector for the localStorage-color class to set up a style*/
.localStorage-color {
    color: red;
    font-style: italic;
}

/*Class Selector for the fa-save icon to add transition when it changes its style*/
.fa-save {
    transition: font-size 0.5s ease-out;
}

/*Class Selector for the hour class to set up a style */
.hour   {
    border-bottom: 1px dashed black;
}

/*pseudo element to set up a style when the description class is being focused.*/
.description:focus   {
    border: 3px solid black;
}

